<div class="btn-group btn-group-justified navbar-fixed-bottom">
    <div class="btn-group">
        <a class="btn btn-default" style="border:none">
            <span class="glyphicon glyphicon-home"></span>
        </a>
    </div>
    <div class="btn-group">
        <a class="btn btn-default" style="border:none">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>
    <div class="btn-group">
        <a class="btn btn-default" style="border:none">
            <span class="glyphicon glyphicon-list"></span>
        </a>
    </div>
</div>
