<div ng-include="'template/head.html'" xmlns="http://www.w3.org/1999/html"></div>
<div class="container">
    <ol class="breadcrumb">
        <li><a href="#/main">首页</a></li>
        <li><a href="#">详情</a></li>
    </ol>
    <div class="panel panel-default">
        <div class="panel-heading" style="background-color: #fff">
            <h2>{{dish.name}}</h2>
        </div>
        <div class="panel-body">
            <div class="panel panel-default">
                <div class="panel-body" style="padding: 0px">
                    <img ng-src="img/{{dish.img_lg}}" class="img-responsive">
                </div>
                <div class="panel-footer">
                    <div class="container">
                        食材: {{dish.material}}
                        <br>
                        &nbsp;&nbsp;&nbsp;{{dish.detail}}
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-foot">
            <p style="color:red">价格：￥{{dish.price}}</p>
        </div>
    </div>
    <div class="btn-group pull-right">
        <a class="btn btn-success" href="#/order/{{dish.did}}">我要订餐</a>
        <a class="btn btn-warning" href="#/main">我在看看</a>
    </div>
</div>
<div ng-include="'template/foot.html'"></div>