<div ng-include="'template/head.html'"></div>
<div class="container">
    <table class="table table-striped">
        <tr>
            <th style="width: 15%" class="text-center">编号</th>
            <th style="width: 30%" class="text-center">菜品</th>
            <th style="width: 35%" class="text-center">下单时间</th>
            <th style="width: 20%" class="text-center">联系人</th>
        </tr>
        <tr ng-repeat="order in myOrder track by $index">
            <td style="vertical-align: middle;text-align: center">{{$index + 1}}</td>
            <td style="vertical-align: middle;text-align: center">
                <img ng-src="./img/{{order.img}}" class="img-responsive">
            </td>
            <td style="vertical-align: middle;text-align: center">{{order.date}}</td>
            <td style="vertical-align: middle;text-align: center">{{order.user}}</td>
        </tr>
    </table>
</div>
<div ng-include="'template/foot.html'"></div>